body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-right: 2px dotted rgba(11, 198, 231, 0.301);
    border-left: 2px dotted #f1341350;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #000000;
    color:  #d3e6f7;
    border-bottom: 6px solid #40caec;
    border-top: 6px solid #f13413;
    border-radius: 10px;
}

.border-blue {
    border: 1px dotted blue;
}

